{% extends 'base/main.html' %}
{% block content %}


<div class="bar-form">
    <a href="{% url 'tasks' %}">&#8592; Retour</a>
    <h1 style="text-align: center; font-size: 25px;">{{ task|title }}</h1>
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="hide">
            {{ form.title }}
        </div>

        <label>Description :</label>
        {{ form.desc }}

        <div style="display: flex; align-items: center;">
            <label style="margin-bottom: 5px;">Fait :</label>
            {{ form.complete }}
        </div>
        <input class="buton" type="submit" value="Enregistrer">
    </form>
</div>



{% endblock content %}